@import "../../../../../Assets/sass/Variabels.scss";

.BoatsDetailsAbout_main {
  p {
    font-size: $myFontSize;
    color: $ParaTextColor;
  }
  .boats_about_inner {
    display: flex;
    justify-content: space-between;
  }
  .boats_detail_inner_main {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    // -moz-box-shadow: 0 0 6px 0px lightgrey;
    border-radius: 0px 0px 20px 20px;
    padding: 2rem 2.5rem 0;
    margin-bottom: 15px;
  }
}
.section-heding {
  font-size: $h2;
  color: $h1color;
  font-weight: $fontweigt;
  font-family: $myFont;
}
.boarts_detail_features {
  width: 100%;
  display: inline-block;
  padding: 0.5rem 0rem 1rem;
}
.section-heding {
  font-size: $h2;
  color: $h1color;
  font-weight: $fontweigt;
  font-family: $myFont;
}
.boats_detail_feature_table {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .detail_feature_left {
    width: 33%;
  }
  .detail_feature_right {
    width: 40%;
  }
  .feature_detail_inner {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    p {
      display: inline-block;
      font-size: $h3;
      color: $h1color;
      font-family: $myFont;
      margin-bottom: 0.5rem;
    }
    p:last-child {
      float: right;
      color: $myColor;
    }
  }
  .book-now-btn {
    background-color: $myColor;
    color: #eeeeff;
    line-height: 40px;
    font-weight: 500;
    font-size: 1rem;
    &:hover {
      background-color: #fff;
      box-shadow: 0px 15px 20px rgba(27, 54, 89, 0.4);
      -moz-box-shadow: 0px 15px 20px rgba(27, 54, 89, 0.4);
      -webkit-box-shadow: 0px 15px 20px rgba(27, 54, 89, 0.4);
      color: #1d3759;
      transform: translateY(-7px);
    }
    &:focus {
      box-shadow: none;
    }
  }
  .feature_book-section {
    margin-top: 1rem;
    width: 100%;
    h2 {
      color: $redcolor;
      display: inline-block;
      margin-left: 2rem;
    }
  }
 
  @media screen and (max-width: 991px) {
    width: 80%;
  }
  @media screen and (max-width: 767px) {
    width: 95%;
  }
  @media screen and (max-width: 575px) {
    width: 100%;
    flex-wrap: wrap;
    .detail_feature_left,
    .detail_feature_right {
      width: 100%;
    }
    .feature_book-section h2 {
      margin-left: 1rem;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .BoatsDetailsAbout_main .boats_detail_inner_main {
    padding: 2rem 15px 0;
  }
  .boarts_detail_features .book-now-btn {
    width: auto;
    padding: 0px 20px;
  }
}
.req_to_book {
  width: 100%;
  padding-right: 2.5rem;
  text-align: center;
  .book-now-btn {
    margin-bottom: 2rem;
  }
}