@import "../../../Assets/sass/Variabels.scss";
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $myColor;
  border-radius: 2px;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0rem;
  font-size: $myFontSize;
  color: $myColor;
  font-weight: $fontweigt;
  padding: 1rem 1.8rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.boats_booking_tabcontent.tab-content {
  width: 80%;
  margin-top: 40px;
  padding-bottom: 1rem;
  h3 {
    font-size: $h3;
  }
  .img-city-booking .inner-city h3 {
    font-size: $h3;
  }
  .img-city-booking .inner-city h2 {
    font-size: $h3;
  }
  .owner_boats_accept,
  .owner_boats_decline {
    min-width: 105px;
    height: 35px;
    font-weight: 400;
    line-height: initial;
    border-radius: 10px;
  }
  .owner_boats_decline {
    margin-left: 0;
    background-color: $redcolor;
    &:hover {
      color: $redcolor;
      background-color: #fff;
    }
  }
  .star-date-booking a {
    color: $redcolor;
    font-weight: 400;
    font-size: $myFontSize;
    text-decoration: none;
  }
  .boat_card_content_div {
    padding: 20px 30px;
  }
}
.booking_boat_img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .booking_boats_tabs {
    padding: 3.5rem 10px 10px 0rem;
    li {
      width: 100%;
      text-align: center;
      .nav-link {
        width: 100%;
      }
    }
  }
  .boats_booking_tabcontent.tab-content {
    width: 98%;
    margin-top: 18px;
    padding-left: 0rem;
    padding-bottom: 0rem;
    .img-city-booking .outer-city {
      padding-bottom: 1rem;
    }
    .img-city-booking .show-details {
      margin-left: 5px;
    }
    .boat_card_content_div {
      padding: 15px 20px;
    }
  }
}
@media screen and (max-width:694px) {
  .boats_booking_tabcontent.tab-content,
  .booking_boats_tabs {
    padding-left: 2rem;
  }
}