@import "../../../../Assets/sass/Variabels.scss";

.FooterRenter-main {
  width: 100%;
  display: inline-block;
  padding: 50px 0px;
  h2 {
    font-size: $h2;
    color: $h1color;
    font-weight: $fontweigt;
    font-family: $myFont;
    text-align: left;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding: 0;
      line-height: 2rem;
      a {
        color: $ParaTextColor;
        font-size: $myFontSizeTwo;
        font-family: $myFont;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }
  @media screen and (max-width:575px) {
    ul {
      margin-bottom: 1.5rem;
    }
    
  }
  padding: 40px 0px;
}

