.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0c294d;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-link:focus,
.nav-link:hover {
  /* color: #0a58ca; */
}

.tab-content {
  width: 80%;
  margin-top: 60px;
}
